body 
{
    border: 5px solid Blue;
    font-family: Trebuchet MS, Helvetica, sans-serif;
}

form
{
    margin: 5px 5px 5px 5px;
}

h1
{
    color: Blue;
    font-size: 75px;
}

h2
{
    color: Red;
}

h4
{
    background-color: Yellow;
}

h5
{
    background-color: Yellow;
}